.menu-search-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.menu-search-menu-search {
  width: 100%;
  height: 734px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.menu-search-group40 {
  top: 134px;
  left: 0px;
  width: 1440px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-search-mapdotpng {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-mapdotpng1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 600px;
  opacity: 0.30;
  position: absolute;
}
.menu-search-rectangle45 {
  top: 0px;
  left: 652px;
  width: 788px;
  height: 600px;
  position: absolute;
}
.menu-search-frame52 {
  gap: 20px;
  top: 48px;
  left: 80px;
  width: 487px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-text {
  color: var(--dl-color-default-darkblue);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 56px;
}
.menu-search-frame345 {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame346 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text002 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text004 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text006 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame347 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-start;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text008 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-group63 {
  top: 1232px;
  left: 0px;
  width: 1440px;
  height: 538px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-search-mapdotpng2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 538px;
  opacity: 0.20;
  position: absolute;
}
.menu-search-shutterstock20145369441 {
  top: 0px;
  left: 0px;
  width: 664px;
  height: 538px;
  position: absolute;
}
.menu-search-frame138 {
  gap: 50px;
  top: 31px;
  left: 726px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame63 {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame61 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text010 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 56px;
}
.menu-search-text012 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text014 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame521 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-start;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text016 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame136 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
}
.menu-search-frame133 {
  gap: 10px;
  width: 185px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-text018 {
  color: var(--dl-color-default-golden);
  height: auto;
  font-size: 46px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text020 {
  color: var(--dl-color-default-text);
  width: 185px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame134 {
  gap: 10px;
  width: 186px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-text025 {
  color: var(--dl-color-default-golden);
  height: auto;
  font-size: 46px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text027 {
  color: var(--dl-color-default-text);
  width: 186px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame135 {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-search-text032 {
  color: var(--dl-color-default-golden);
  height: auto;
  font-size: 46px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text034 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame8 {
  top: 2507px;
  left: 0px;
  width: 1440px;
  height: 773px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-search-mapdotpng3 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 773px;
  opacity: 0.20;
  position: absolute;
}
.menu-search-europeanschengenzone1 {
  top: 0px;
  left: 641px;
  width: 799px;
  height: 773px;
  position: absolute;
}
.menu-search-frame145 {
  gap: 30px;
  top: 204px;
  left: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame144 {
  gap: 20px;
  width: 486px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-text039 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 56px;
}
.menu-search-text041 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text043 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame51 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-start;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text045 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame81 {
  top: 3380px;
  left: 0px;
  width: 1440px;
  height: 523px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.menu-search-mapdotpng4 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 523px;
  opacity: 0.20;
  position: absolute;
}
.menu-search-frame146 {
  gap: 30px;
  top: 42px;
  left: 824px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame104 {
  gap: 20px;
  width: 536px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-text047 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 56px;
}
.menu-search-text049 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text051 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text053 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame511 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-start;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text055 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-shutterstock6039260811 {
  top: 0px;
  left: 0px;
  width: 710px;
  height: 523px;
  position: absolute;
}
.menu-search-frame82 {
  top: 4003px;
  left: 0px;
  width: 1440px;
  height: 500px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-blue);
}
.menu-search-mapdotpng5 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 500px;
  opacity: 0.20;
  position: absolute;
}
.menu-search-frame156 {
  gap: 20px;
  top: 94px;
  left: 730px;
  width: 630px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-frame154 {
  gap: 20px;
  width: 630px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-frame152 {
  gap: 20px;
  width: 630px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-frame149 {
  gap: 10px;
  height: 48px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  flex-grow: 1;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(63, 90, 116, 1);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text057 {
  color: var(--dl-color-default-text);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame148 {
  gap: 10px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text059 {
  color: var(--dl-color-default-grey);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame153 {
  gap: 20px;
  width: 630px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-frame1491 {
  gap: 10px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text061 {
  color: var(--dl-color-default-grey);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame150 {
  gap: 10px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text063 {
  color: var(--dl-color-default-grey);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame151 {
  gap: 10px;
  display: flex;
  padding: 10px 15px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text065 {
  color: var(--dl-color-default-grey);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame155 {
  gap: 47px;
  display: flex;
  align-items: flex-start;
}
.menu-search-text067 {
  color: var(--dl-color-default-grey1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame50 {
  gap: 10px;
  display: flex;
  padding: 12px 50px;
  align-items: flex-start;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text069 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame157 {
  gap: 20px;
  top: 80px;
  left: 73px;
  width: 429px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text071 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  text-align: left;
  line-height: 56px;
}
.menu-search-text073 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text075 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-footer {
  top: 4503px;
  left: 0px;
  width: 1440px;
  height: 468px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle37 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 468px;
  position: absolute;
}
.menu-search-frame162 {
  gap: 20px;
  top: 306px;
  left: 1152px;
  width: 205px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame161 {
  gap: 25px;
  display: flex;
  align-items: flex-start;
}
.menu-search-text077 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame3471 {
  gap: 48px;
  top: 80px;
  left: 375px;
  width: 687px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.menu-search-text079 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame159 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text081 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text083 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text085 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text087 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text089 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text091 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame3461 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text093 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text095 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text097 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame169 {
  gap: 20px;
  top: 80px;
  left: 1143px;
  width: 217px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-frame168 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.menu-search-text099 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame167 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.menu-search-text101 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame166 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-text103 {
  color: var(--dl-color-default-textonblack);
  width: 152px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame330 {
  gap: 50px;
  top: 1870px;
  left: 80px;
  width: 1280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame329 {
  gap: 72px;
  display: flex;
  align-items: center;
}
.menu-search-rectangle49 {
  width: 416px;
  height: 1px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle491 {
  top: 0px;
  left: 0px;
  width: 416px;
  height: 1px;
  position: absolute;
}
.menu-search-text105 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  text-align: left;
  line-height: 56px;
}
.menu-search-rectangle50 {
  width: 416px;
  height: 1px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle492 {
  top: 0px;
  left: 0px;
  width: 416px;
  height: 1px;
  position: absolute;
}
.menu-search-frame328 {
  gap: 31px;
  display: flex;
  align-items: flex-start;
}
.menu-search-frame323 {
  gap: 20px;
  width: 406px;
  display: flex;
  padding: 40px;
  box-shadow: 0px 4px 25px 0px rgba(199, 179, 117, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(63, 90, 116, 1);
  border-style: solid;
  border-width: 2px;
  flex-direction: column;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text107 {
  color: var(--dl-color-default-blue);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 34px;
}
.menu-search-frame324 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text109 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-text111 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame512 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-start;
  background-color: var(--dl-color-default-blue);
}
.menu-search-text113 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame326 {
  gap: 142px;
  width: 406px;
  height: 431px;
  display: flex;
  padding: 40px;
  box-shadow: 0px 4px 25px 0px rgba(199, 179, 117, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(199, 179, 117, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-bg);
}
.menu-search-frame3261 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text115 {
  color: var(--dl-color-default-blue);
  width: 326px;
  height: auto;
  text-align: left;
  line-height: 34px;
}
.menu-search-text117 {
  color: var(--dl-color-default-text);
  width: 326px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame513 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-end;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text119 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame325 {
  gap: 58px;
  width: 406px;
  height: 431px;
  display: flex;
  padding: 40px;
  box-shadow: 0px 4px 25px 0px rgba(199, 179, 117, 0.11999999731779099) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(199, 179, 117, 1);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-default-bg);
}
.menu-search-frame327 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text121 {
  color: var(--dl-color-default-blue);
  width: 326px;
  height: auto;
  text-align: left;
  line-height: 34px;
}
.menu-search-text123 {
  color: var(--dl-color-default-text);
  width: 326px;
  height: auto;
  text-align: left;
  line-height: 28px;
}
.menu-search-frame514 {
  gap: 10px;
  display: flex;
  padding: 12px 30px;
  align-items: flex-start;
  background-color: var(--dl-color-default-golden);
}
.menu-search-text125 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame344 {
  gap: 50px;
  top: 834px;
  left: 80px;
  width: 1280px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-frame342 {
  gap: 47px;
  display: flex;
  align-items: center;
}
.menu-search-rectangle493 {
  width: 116px;
  height: 1px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle494 {
  top: 0px;
  left: 0px;
  width: 116px;
  height: 1px;
  position: absolute;
}
.menu-search-text127 {
  color: var(--dl-color-default-darkblue);
  height: auto;
  text-align: left;
  line-height: 56px;
}
.menu-search-rectangle501 {
  width: 116px;
  height: 1px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle495 {
  top: 0px;
  left: 0px;
  width: 116px;
  height: 1px;
  position: absolute;
}
.menu-search-frame341 {
  gap: 61px;
  width: 1280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-frame335 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image24 {
  width: 60px;
  height: 60px;
}
.menu-search-text129 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-frame336 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image25 {
  width: 60px;
  height: 60px;
}
.menu-search-text131 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-frame337 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image26 {
  width: 60px;
  height: 60px;
}
.menu-search-text133 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-frame338 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image27 {
  width: 60px;
  height: 60px;
}
.menu-search-text135 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-frame339 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image28 {
  width: 60px;
  height: 60px;
}
.menu-search-text137 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-frame340 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image30 {
  width: 60px;
  height: 60px;
}
.menu-search-text139 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-frame3411 {
  gap: 20px;
  width: 130.57142639160156px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.menu-search-image29 {
  width: 60px;
  height: 60px;
}
.menu-search-text141 {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.menu-search-header {
  top: 44px;
  left: 0px;
  width: 1440px;
  height: 90px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle8 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 90px;
  position: absolute;
}
.menu-search-frame18 {
  gap: 30px;
  top: 35px;
  left: 369px;
  width: 782px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.menu-search-text143 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame17 {
  gap: 5px;
  display: flex;
  align-items: center;
}
.menu-search-text145 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-iconsax-lineararrowdown2 {
  width: 14px;
  height: 14px;
}
.menu-search-text147 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text149 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text151 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text153 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-frame501 {
  gap: 10px;
  top: 24px;
  left: 1219px;
  width: 141px;
  height: 41px;
  display: flex;
  padding: 12px 20px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(199, 179, 117, 1);
  border-style: solid;
  border-width: 1px;
}
.menu-search-text155 {
  color: var(--dl-color-default-text);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-lexpassp-logotipos-lexpassp-color {
  top: 18px;
  left: 80px;
  width: 217px;
  height: 55px;
  position: absolute;
}
.menu-search-search {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.menu-search-rectangle44 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 44px;
  position: absolute;
}
.menu-search-frame4 {
  gap: 5px;
  top: 13px;
  left: 1291px;
  width: 69px;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.menu-search-text157 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-iconsax-lineararrowdown21 {
  width: 16px;
  height: 16px;
}
.menu-search-frame6 {
  gap: 215px;
  top: 8px;
  left: 946px;
  width: 305px;
  display: flex;
  padding: 6px 10px;
  overflow: hidden;
  position: absolute;
  align-items: flex-end;
  background-color: var(--dl-color-default-bg);
}
.menu-search-text159 {
  color: rgba(162, 162, 162, 1);
  height: auto;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-iconsax-linearsearchnormal1 {
  width: 14px;
  height: 14px;
}
.menu-search-frame400 {
  gap: 15px;
  top: 164px;
  left: 469px;
  width: 112px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.menu-search-text161 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text163 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text165 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.menu-search-text167 {
  color: var(--dl-color-default-textonblack);
  height: auto;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
